@import "Hiking_Guide CSS-reset.scss";

%title1{
    font-family: "Gilroy_extrabold";
    line-height: 1;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: rgb(74, 244, 139);
    padding-left: 102px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 72px;
        height: 2px;
        background-color: rgb(74, 244, 139);
    }
}

%title2{
    font-family: "CD_semibold";
    font-size: 64px;
    line-height: 113.64%;
    margin-top: 27px;
    margin-bottom: 27px;
}

@media(max-width: 1522.9px) and (min-width: 280px){
    %title1{
        font-size: calc(14px + (18 - 14) * ((100vw - 280px) / (1522 - 280)));
        letter-spacing: calc(4px + (6 - 4) * ((100vw - 280px) / (1522 - 280)));
        padding-left: calc(59px + (102 - 59) * ((100vw - 280px) / (1522 - 280)));
        &::before{width: calc(36px + (72 - 36) * ((100vw - 280px) / (1522 - 280)));}
    }
    %title2{
        font-size: calc(26px + (64 - 26) * ((100vw - 280px) / (1522 - 280)));
        margin-top: calc(20px + (27 - 20) * ((100vw - 280px) / (1522 - 280)));
        margin-bottom: calc(14px + (27 - 14) * ((100vw - 280px) / (1522 - 280)));
    }
}
@media(max-width: 279.9px){
    %title1{
        font-size: 14px;
        letter-spacing: 4px;
        padding-left: 59px;
        &::before{width: 36px;}
    }
    %title2{
        font-size: 26px;
        margin-top: 20px;
        margin-bottom: 14px;
    }
}

#smooth-content{will-change: transform;}

header{
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 calc((1vh + 1vw) * 9) black;
    }
    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: calc((1vh + 1vw) * 9);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0), black);
    }
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .header__bg{
        z-index: -1;
    }
    .header__branch{
        object-position: 100% 50%;
        @media(min-aspect-ratio: 3/2) and (max-width: 991.9px){ object-position: 100% 57%;}
        @media(orientation: portrait){ object-position: 85% 50%;}
    }
    .header__raindrops{object-position: 50% 100%;}
    .container{
        .header__title1{@extend %title1;}
        .header__title2{
            @extend %title2;
            font-size: 88px;
            margin-top: 32px;
            margin-bottom: 0;
            text-shadow: 0 0 15px rgb(15, 15, 15);
        }
    }
}
@media(max-width: 1522.9px) and (min-width: 280px){
    header{
        .container{
            .header__title2{
                font-size: calc(26px + (88 - 26) * ((100vw - 280px) / (1522 - 280)));
                margin-top: calc(20px + (32 - 20) * ((100vw - 280px) / (1522 - 280)));
            }
        }
    }
}
@media(max-width: 279.9px){
    header{
        .container{
            .header__title2{
                font-size: 26px;
                margin-top: 20px;
            }
        }
    }
}

.flicker-fix{
    position: relative;
    height: 5px;
    background-color: black;
}

.block{
    margin-top: 200px;
    .container{
        display: grid;
        justify-content: center;
        grid-template: auto / 41.8% 38.72%;
        column-gap: 120px;
        .block__block-text{
            margin-top: 150px;
            margin-bottom: 143px;
            .block-text__title1{@extend %title1;}
            .block-text__title2{@extend %title2;}
        }
        .block__block-img{
            position: relative;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
            &::before{
                content: "";
                z-index: 1;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                box-shadow: inset 0 0 calc(1vh + 1vw) black;
            }
        }
    }
}

.block_1{
    margin-top: 195px;
    .container{
        .block__block-img{
            img{object-position: 100% 100%;}
        }
    }
}

.block_3{
    .container{
        .block__block-img{
            img{object-position: 50% 11%;}
        }
    }
}

.block_2{
    .container{grid-template: auto / 38.72% 41.8%;}
}

@media(max-width: 1522.9px) and (min-width: 280px){
    .block{
        margin-top: calc(50px + (200 - 50) * ((100vw - 280px) / (1522 - 280)));
        .container{
            .block__block-text{
                .block-text__text{font-size: calc(13px + (18 - 13) * ((100vw - 280px) / (1522 - 280)));}
            }
        }
    }
    .block_1{margin-top: calc(45px + (195 - 45) * ((100vw - 280px) / (1522 - 280)));}
}
@media(max-width: 1522.9px) and (min-width: 992px){
    .block{
        .container{
            column-gap: calc(90px + (120 - 90) * ((100vw - 992px) / (1522 - 992)));
            .block__block-text{
                margin-top: calc(20px + (150 - 20) * ((100vw - 992px) / (1522 - 992)));
                margin-bottom: calc(14px + (143 - 14) * ((100vw - 992px) / (1522 - 992)));
            }
        }
    }
}
@media(max-width: 991.9px) and (min-width: 280px){
    .block{
        .container{
            .block__block-text{margin-bottom: calc(22px + (35 - 22) * ((100vw - 280px) / (991 - 280)));}
            .block__block-img{padding-bottom: calc(260px + (465.6 - 260) * ((100vw - 280px) / (991 - 280)));}
        }
    }
}
@media(max-width: 991.9px){
    .block{
        .container{
            grid-template: auto auto / 1fr;
            column-gap: normal;
            .block__block-text{
                margin-top: 0;
                text-align: center;
                .block-text__title1{
                    width: fit-content;
                    margin: auto;
                }
            }
        }
    }
    .block_2{
        .container{
            .block__block-img{order: 2;}
        }
    }
}
@media(max-width: 640.9px) and (min-width: 280px){
    .block{
        .container{
            .block__block-text{
                .block-text__title2{
                    max-width: calc(220px + (320 - 220) * ((100vw - 280px) / (640 - 280)));
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
    }
}
@media(max-width: 279.9px){
    .block{
        margin-top: 50px;
        .container{
            .block__block-text{
                margin-bottom: 22px;
                .block-text__text{font-size: 13px;}
            }
            .block__block-img{padding-bottom: 260px;}
        }
    }
    .block_1{margin-top: 45px;}
}

footer{
    padding-top: 60px;
    padding-bottom: 30px;
    .container{
        p{
            padding: 5px;
            width: fit-content;
            margin: auto;
            font-size: 14px;
            line-height: 130%;
            text-align: center;
            box-shadow: 0 0 7px rgb(74, 244, 139);
            a{color: inherit;}
        }
    }
}
@media(max-width: 1522.9px) and (min-width: 280px){
    footer{
        .container{
            p{font-size: calc(11px + (14 - 11) * ((100vw - 280px) / (1522 - 280)));}
        }
    }
}
@media(max-width: 991.9px){
    footer{padding-top: 30px;}
}
@media(max-width: 279.9px){
    footer{
        .container{
            p{font-size: 11px;}
        }
    }
}