*{
    padding: 0; 
    margin: 0; 
    border: 0;
}

*, *::before, *::after{box-sizing: border-box;}

@font-face {
    font-family: "CD_semibold";
    src: url("Hiking_Guide fonts/ChronicleDisplay-Semi.woff2");
}
@font-face {
    font-family: "CD_bold";
    src: url("Hiking_Guide fonts/ChronicleDisplay-Bold.woff2");
}
@font-face {
    font-family: "Gilroy_medium";
    src: url("Hiking_Guide fonts/Gilroy-Medium.woff2");
}
@font-face {
    font-family: "Gilroy_bold";
    src: url("Hiking_Guide fonts/Gilroy-Bold.woff2");
}
@font-face {
    font-family: "Gilroy_extrabold";
    src: url("Hiking_Guide fonts/Gilroy-ExtraBold.woff2");
}

html, body{
    line-height: 177.78%;
    font-size: 18px;
    font-family: "Gilroy_bold";
    color: white;
    text-size-adjust: 100%;
    background-color: black;
}

.container{
    max-width: 1522px;
    margin: 0px auto;
    padding: 0px 30px;
}